<a href="https://colab.research.google.com/github/fsdalpiaz/Teste/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("https://raw.githubusercontent.com/fsdalpiaz/Teste/main/itub3sa.csv")

In [9]:
df.head()

        High        Low       Open      Close    Volume  Adj Close
0  14.138378  13.655715  13.655715  14.138378  627000.0   8.568435
1  14.161145  13.956241  14.115611  14.161145  183158.0   8.582232
2  14.161145  13.965348  14.161145  14.161145  116395.0   8.582232
3  14.070077  13.947134  14.056416  14.024542  136820.0   8.499449
4  14.015436  13.719463  13.974455  13.865173   95971.0   8.402864

In [10]:
df.shape

(2794, 6)

In [11]:
df["Close"]

0       14.138378
1       14.161145
2       14.161145
3       14.024542
4       13.865173
          ...
2789    23.980000
2790    24.410000
2791    24.420000
2792    24.670000
2793    24.670000
Name: Close, Length: 2794, dtype: float64

In [12]:
df["Close"].mean()

19.424318598950002

In [14]:
df["Close"].std()

6.173199072174644

In [15]:
df.info

<bound method DataFrame.info of            High        Low       Open      Close    Volume  Adj Close
0     14.138378  13.655715  13.655715  14.138378  627000.0   8.568435
1     14.161145  13.956241  14.115611  14.161145  183158.0   8.582232
2     14.161145  13.965348  14.161145  14.161145  116395.0   8.582232
3     14.070077  13.947134  14.056416  14.024542  136820.0   8.499449
4     14.015436  13.719463  13.974455  13.865173   95971.0   8.402864
...         ...        ...        ...        ...       ...        ...
2789  24.230000  23.920000  24.000000  23.980000  372700.0  23.980000
2790  24.410000  24.010000  24.100000  24.410000  481800.0  24.410000
2791  24.510000  24.070000  24.410000  24.420000  407700.0  24.420000
2792  24.959999  24.230000  24.490000  24.670000  447000.0  24.670000
2793   0.000000   0.000000   0.000000  24.670000       0.0  24.670000

[2794 rows x 6 columns]>

In [16]:
df.Volume.mean()

451991.5948460988

In [17]:
df.Open[1000:2000].mean()

18.788948296546938

In [18]:
df.describe()

              High          Low  ...        Volume    Adj Close
count  2794.000000  2794.000000  ...  2.794000e+03  2794.000000
mean     19.643310    19.167054  ...  4.519916e+05    15.754039
std       6.249605     6.121568  ...  1.547841e+06     7.308223
min       0.000000     0.000000  ...  0.000000e+00     6.280931
25%      14.252214    13.952826  ...  1.424155e+05     9.222723
50%      17.528975    17.088154  ...  2.679150e+05    12.799199
75%      24.947501    24.400000  ...  4.942688e+05    22.231489
max      33.470001    32.560001  ...  7.128990e+07    31.322224

[8 rows x 6 columns]